<!-- HABILIDADES -->
<section class="skills" id="skills">
    <h2 class="section-title">Habilidades</h2>
    <div class="skills__container bg-grid">
        <div>
            <h2 class="skills__subtitle" v-scroll-reveal.reset="{ origin: 'top',
            distance: '80px', duration: 2000 }">Habilidades Profissionais</h2>
            <p class="skills__text" v-scroll-reveal.reset="{ delay: 200, origin: 'top',
            distance: '80px', duration: 2000 }">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore illum
                esse
                officiis quisquam, earum ipsam ut temporibus quibusdam enim reprehenderit explicabo.</p>
            <div class="skills__data" v-scroll-reveal.reset="{ interval: 200, origin: 'top',
                distance: '80px', duration: 2000 }">
                <div class="skills__names">
                    <box-icon type='logo' name='html5' color="#4070f4"></box-icon>
                    <span class="skills_name">HTML5</span>
                </div>
                <div>
                    <span class="skills_percentage">95%</span>
                </div>
                <div class="skills__bar skills__bar--html"></div>
            </div>

            <div class="skills__data" v-scroll-reveal.reset="{ interval: 200, origin: 'top',
                distance: '80px', duration: 2000 }">
                <div class="skills__names">
                    <box-icon name='css3' type='logo' color="#4070f4"></box-icon>
                    <span class="skills_name">CSS3</span>
                </div>
                <div>
                    <span class="skills_percentage">75%</span>
                </div>
                <div class="skills__bar skills__bar--css"></div>
            </div>

            <div class="skills__data" v-scroll-reveal.reset="{ interval: 200, origin: 'top',
                distance: '80px', duration: 2000 }">
                <div class="skills__names">
                    <box-icon name='nodejs' type='logo' color="#4070f4"></box-icon>
                    <span class="skills_name">JAVASCRIPT</span>
                </div>
                <div>
                    <span class="skills_percentage">86%</span>
                </div>
                <div class="skills__bar skills__bar--js"></div>
            </div>

            <div class="skills__data" v-scroll-reveal.reset="{ interval: 200, origin: 'top',
                distance: '80px', duration: 2000 }">
                <div class="skills__names">
                    <box-icon name='vuejs' type='logo' color="#4070f4"></box-icon>
                    <span class="skills_name">VUE</span>
                </div>
                <div>
                    <span class="skills_percentage">90%</span>
                </div>
                <div class="skills__bar skills__bar--vue"></div>
            </div>
        </div>
        <div>
            <img src="../../static/img/work-1.png" alt="" class="skills__img" v-scroll-reveal.reset="{ delay: 400, origin: 'top',
            distance: '80px', duration: 2000 }">
        </div>
    </div>

</section>