<div>
    <!-- SOBRE -->
    <section class="about section" id="about">
        <h2 class="section-title">Sobre</h2>
        <div class="about__container bg-grid">
            <div class="about__img">
                <img src="../../static/img/profile1.png" alt="">
            </div>

            <div>
                <h2 class="about__subtitle">Eu sou o Felipe Biel</h2>
                <p class="about__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate autem
                    quisquam commodi aut tempora unde at blanditiis nemo. Sed, corporis cupiditate recusandae soluta
                    dolor magnam rerum nostrum officia accusamus consequuntur!</p>
            </div>
        </div>
    </section>
</div>