<!-- HOME -->
<section class="home bg-grid" id="home">
    <div class="home__data">
        <h1 class="home__title" v-scroll-reveal.reset>Oi, <br> Eu Sou <span class="home__title--color">Felipe
                Biel</span><br>
            Web
            Developer</h1>
        <a href="#contact" class="button" v-scroll-reveal.reset="{ delay: 200, origin: 'top',
        distance: '80px', duration: 2000 }">Contato</a>
    </div>

    <div class="home__social">
        <a href="#" class="home__social--icon" v-scroll-reveal.reset="{ delay: 400, origin: 'top',
        distance: '80px', duration: 2000 }">
            <box-icon name='linkedin' type='logo' :color="colorHover[0]" @mouseover="$set(colorHover, 0, '#4070f4')"
                @mouseleave="$set(colorHover, 0, '#0e2431')" size='lg'></box-icon>
        </a>
        <a href="#" class="home__social--icon" v-scroll-reveal.reset="{ delay: 400, origin: 'top',
        distance: '80px', duration: 2000 }">
            <box-icon name='github' type='logo' :color="colorHover[1]" @mouseover="$set(colorHover, 1, '#4070f4')"
                @mouseleave="$set(colorHover, 1, '#0e2431')" size='lg'></box-icon>
        </a>
    </div>

    <div class="home__img" v-scroll-reveal.reset="{ interval: 400, origin: 'top',
    distance: '80px', duration: 2000 }">
        <img src="../../static/img/profile1.png" alt="Felipe Biel">
    </div>
</section>