<section class="contact section" id="contact">
    <h2 class="section-title">Contato</h2>
    <div class="contact__container bg-grid">
        <form action="" class="contact__form">
            <input type="text" name="" id="" class="contact__input" placeholder="Name">
            <input type="text" name="" id="" class="contact__input" placeholder="E-mail">
            <textarea name="" id="" cols="30" rows="10" class="contact__input"></textarea>
            <input type="button" value="Enviar" class="contact__button button">
        </form>
    </div>
</section>