<div>
    <nav class="nav bg-grid">
        <div>
            <a href="" class="nav__logo">Felipe Biel</a>
        </div>

        <div class="nav__menu" id="nav-menu" :class="{show: showMenu}">
            <ul class="nav__list">
                <li class="nav__item"><a href="#home" class="nav__link" :class="{active: whereLinkActive === 'home'}"
                        @click="ActiveLinkMenu('home')">Home</a>
                </li>
                <li class="nav__item"><a href="#about" class="nav__link" :class="{active: whereLinkActive === 'about'}"
                        @click="ActiveLinkMenu('about')">Sobre</a></li>
                <li class="nav__item"><a href="#skills" class="nav__link"
                        :class="{active: whereLinkActive === 'skills'}"
                        @click="ActiveLinkMenu('skills')">Habilidades</a></li>
                <li class="nav__item"><a href="#work" class="nav__link" :class="{active: whereLinkActive === 'work'}"
                        @click="ActiveLinkMenu('work')">Trabalhos</a>
                </li>
                <li class="nav__item"><a href="#contact" class="nav__link"
                        :class="{active: whereLinkActive === 'contact'}" @click="ActiveLinkMenu('contact')">Contatos</a>
                </li>
            </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle" @click="showMenu = !showMenu">
            <box-icon name='menu'></box-icon>
        </div>
    </nav>
</div>