/* trabalhos */

.work__container {
    row-gap: 2rem;
  }
  
  .work__img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: 0.5rem;
    background-color: rgb(216, 216, 216);
    overflow: hidden;
    display: flex;
    justify-content: center;

    img {
        transition: 1s;
        cursor: pointer;
    }
      
    img:hover {
       transform: scale(1.1);
    }
  }
  
  @media screen and (min-width: 769px) {  
    .work__container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

  }