<section class="work section" id="work">
    <h2 class="section-title">Trabalhos</h2>

    <div class="work__container bg-grid">
        <div class="work__img"><img src="https://picsum.photos/500/300?random=1" alt=""></div>
        <div class="work__img"><img src="https://picsum.photos/500/300?random=2" alt=""></div>
        <div class="work__img"><img src="https://picsum.photos/500/300?random=3" alt=""></div>
        <div class="work__img"><img src="https://picsum.photos/500/300?random=4" alt=""></div>
        <div class="work__img"><img src="https://picsum.photos/500/300?random=5" alt=""></div>
        <div class="work__img"><img src="https://picsum.photos/500/300?random=6" alt=""></div>
    </div>
</section>